<div class="container dashboard" style="position: relative;">
  <div class="header" style="position: relative;">
    <div class="main_title">Apphakker</div>
    <div class="experience_area" style="">
      <div class="bar" style="height: 20px; overflow: hidden; border-radius: 4px;">
        <div id="progress_bar" class="bar_completed" style="height: 20px; display: inline-block; background-color: #0ba; width: 50px;">
        </div>
      </div>
    </div>
    <div class="account_actions"><%= link_to(signout_path, :class => "logout button") do %>
      <i class="icon-signout"></i>
      <% end %></div>
  </div>
  <div class="sidebar">
    <div class="player_status">
      <%= image_tag player_avatar_url(current_player, 200), :class => "player_image" %>
      <div class="player_name">
        <%= current_player.name %>
      </div>
    </div>

    <div class="widget hackerjuice">
      <div class="widget_header">
        Deze week
        <div class="subtitle">nog 3 dagen</div>
      </div>
      <div class="widget_body">
        <div class="juice_status github">
          <i class="icon-github"></i> 0 / 40 commits
        </div>
        <div class="juice_status deploys">
          <i class="icon-cloud"></i> 0 / 6 deploys</i>
        </div>
        <div class="juice_status tests">
          <i class="icon-tasks"></i> 4 tests</i>
        </div>
        <div class="juice_status blog_posts">
          <i class="icon-rss"></i> 3 / 1 blog posts</i>
        </div>
      </div>
    </div>
  </div>
  <div class="content_area">
    <div class="first_step" style="overflow: hidden;">

      <div class="picture" style="float: left; font-size: 60px; margin-right: 20px;">
        <i class="icon-check"></i>
      </div>

      <div class="text" style="margin-left: 80px;">
        <p class="introduction">Mooi. Je hebt een GitHub account dus je kan aan de slag. Voor alle goede acties die jij als ontwikkelaar onderneemt, krijg je van ons hacker juice. <strong>Hacker juice bewijst dat jij er wat van kan.</strong></p>
        <p class="introduction">Voor we uitleggen hoe deze online course werkt, moet je eerst je welverdiende hacker juice claimen.</p>
      </div>

      <div class="claim_scores" style="margin: 40px 0;">

        <div id="claim_score_1" class="claim_score" style="border-radius: 3px; border: 1px solid #ccc; padding: 10px 15px; margin-bottom: 10px; box-shadow: #e0e0e0 0 1px 2px;">
          <div class="score_message">
            <%= link_to "Claim", claim_achievement_path(:id => 1, :format => :js), :class => "button", :style => "float: right; font-size: 12px;", :remote => true, :method => :post %>
            <i class="score_type icon-github" style="display: inline-block; width: 40px; text-align: center; font-size: 30px; margin-right: 10px;"></i> <span style="vertical-align: 20%; display: inline-block; line-height: 30px;">GitHub account aangemaakt.</span>
          </div>
        </div>
        <div id="claim_score_2" class="claim_score" style="border-radius: 3px; border: 1px solid #ccc; padding: 10px 15px; box-shadow: #e0e0e0 0 1px 2px;">
          <div class="score_message">
            <%= link_to "Claim", claim_achievement_path(:id => 2, :format => :js), :class => "button", :style => "float: right; font-size: 12px;", :remote => true, :method => :post %>
            <i class="score_type icon-bolt" style="display: inline-block; width: 40px; text-align: center; font-size: 30px; margin-right: 10px;"></i> <span style="vertical-align: 20%; display: inline-block; line-height: 30px;">Je bent officieel Apphakker geworden.</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
